:root {
  --one: #000;
  --two: #3a3a39;
  --three: #090909;
  --four: #1b1b1b;
  --five: #fcfcfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  border: none
}

body {
  background: var(--one);
}

button {
  cursor: pointer;
}